# Flask
FLASK_ENV=development
FLASK_DEBUG=True
SECRET_KEY=replace-this-with-a-secure-secret

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=todoapp_db
DB_USER=todoapp_user
DB_PASSWORD=todoapp@786

# JWT
JWT_SECRET_KEY=replace-this-with-a-secure-jwt-secret
